<div class="absolute w20 vh100" id="minibar" >
  <div class="itemContainer" id="navbar">
    <div class="p5">
      <div class="itemContainer p5 navback">
        <div class="block" id="minimizer">
          <i class="fa-regular fa-window-maximize "></i>
        </div>
      </div>
      <ul class="itemContainer">
        <span class="ulText">Elektronika</span>
        <li>
          Klawiatury
        </li>
        <li>
          Myszki
        </li>
        <li>
          Podkładki
        </li>
        <li>
          Keycapy
        </li>
      </ul>
      <ul class="itemContainer ">
        <span class="ulText">Elektronika</span>
        <li>
          Klawiatury
        </li>
        <li>
          Myszki
        </li>
        <li>
          Podkładki
        </li>
        <li>
          Keycapy
        </li>
      </ul>
      <ul *ngIf="userAuthenticated" class="itemContainer ">
        <span class="ulText">Profil</span>
        <li routerLink="/koszyk">
          Koszyk
        </li>
        <li>
          Ulubione
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="unsizer ">
  <header >
    <div  class="flex ">
      <div class="itemContainer " id="hamburger"><i class="fa-solid fa-bars" id="test"></i></div>
      <div class="middle">NekoBuh</div>
      <div class="end">
        <input placeholder="Szukaj :3" class="browsing ">
        <button *ngIf="!userAuthenticated" class="itemContainer login m-x10 " routerLink="/login">
          Zaloguj sie
        </button>
        <button *ngIf="userAuthenticated" class="itemContainer login m-x10 " (click)="logout()">
          Wyloguj
        </button>

      </div>

    </div>
  </header>

</div>

