
<main>
  <div class="box ">
    <div class="header">
      <div class="square"></div>
      <div class="breadCrumb">{{title}} ></div>
    </div>
    <div class="mainBody">
      <div class="flex">
        <div class="center align-center flex">
          <img src="/melody2.png" height="128px">
          <h1>POLECAMY</h1>
          <img src="/melody1.png" alt="gufno" height="128px" >
        </div>
      </div>
      <div class="grid overflow vh60">
        <div class="itemContainer" routerLink="/item">
          <div class="itemHeader relative">
            <div class="center">
              <div class="block">
                {{itemTitle}}
              </div>
              <div class="block">
                {{itemPrice}}
              </div>
            </div>
            <div class="heart">
              <i class="fa-regular fa-heart"></i>
            </div>
          </div>
          <div class="itemImage">
            <img src="/cutepaws.png" >
          </div>
        </div>
        <div class="itemContainer" routerLink="/item">
          <div class="itemHeader relative">
            <div class="center">
              <div class="block">
                {{itemTitle}}
              </div>
              <div class="block">
                {{itemPrice}}
              </div>
            </div>
            <div class="heart">
              <i class="fa-regular fa-heart"></i>
            </div>
          </div>
          <div class="itemImage">
            <img src="/cutepaws.png" >
          </div>
        </div>
        <div class="itemContainer" routerLink="/item">
          <div class="itemHeader relative">
            <div class="center">
              <div class="block">
                {{itemTitle}}
              </div>
              <div class="block">
                {{itemPrice}}
              </div>
            </div>
            <div class="heart">
              <i class="fa-regular fa-heart"></i>
            </div>
          </div>
          <div class="itemImage">
            <img src="/cutepaws.png" >
          </div>
        </div>
        <div class="itemContainer" routerLink="/item">
          <div class="itemHeader relative">
            <div class="center">
              <div class="block">
                {{itemTitle}}
              </div>
              <div class="block">
                {{itemPrice}}
              </div>
            </div>
            <div class="heart">
              <i class="fa-regular fa-heart"></i>
            </div>
          </div>
          <div class="itemImage">
            <img src="/cutepaws.png" >
          </div>
        </div>
        <div class="itemContainer" routerLink="/item">
          <div class="itemHeader relative">
            <div class="center">
              <div class="block">
                {{itemTitle}}
              </div>
              <div class="block">
                {{itemPrice}}
              </div>
            </div>
            <div class="heart">
              <i class="fa-regular fa-heart"></i>
            </div>
          </div>
          <div class="itemImage">
            <img src="/cutepaws.png" >
          </div>
        </div>
        <div class="itemContainer" routerLink="/item">
          <div class="itemHeader relative">
            <div class="center">
              <div class="block">
                {{itemTitle}}
              </div>
              <div class="block">
                {{itemPrice}}
              </div>
            </div>
            <div class="heart">
              <i class="fa-regular fa-heart"></i>
            </div>
          </div>
          <div class="itemImage">
            <img src="/cutepaws.png" >
          </div>
        </div>


      </div>

    </div>
  </div>
</main>
