main
{
  justify-content: center;
  display: flex;

}
.box{
  padding: 3px 3px 3px 3px;
  background-color:#85F0DF;
  border:#431CC5 3px solid;
  width: 75%;
}
.header{
  padding: 3px 3px 3px 3px;
  background-color:#EFCAEB;
  border:#431CC5 3px solid;
  height: 50px;
  align-items: center;
  display: flex;
  margin-bottom: 5px;
}
.square{
  width: 20px;
  height: 20px;
  background-color:#431CC5;
  margin-left:10px;
}
.breadCrumb
{
  margin-left: 10px;
  color: #431CC5;
}
.mainBody
{
  border:#431CC5 3px solid;
  background-color:#FCF7FD;


}
h1{
  text-align: center;
  color: #431CC5;
}
.grid{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap-reverse;
}
.itemContainer
{
  background-color:#85F0DF;
  border:#431CC5 3px solid;
  padding: 3px 3px 15px 3px;
  margin-bottom: 30px;
}
.itemHeader
{
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  justify-content: center;
  background-color:#EFCAEB;
  border:#431CC5 3px solid;
  padding: 3px 3px 3px 3px;
  color: #431CC5;
  height: 60px;
  z-index: 2;
}
.itemImage
{
  margin-top: 5px;
  border:#431CC5 3px solid;
  color: #431CC5;
  width: 330px;
  height: 230px;
  object-fit: fill;
}
.heart
{
  position: absolute;
  margin-left: 290px;

  padding:0 2px 0 2px ;
  border:#431CC5 2px solid;
}
h1{
  display: inline-block;
}
.align-center{
  align-items: center;
}
.flex{
  align-items: center;
  display: flex;
  justify-content: center;
}
.itemImage img
{
  width: 100%; /* Dopasowuje obraz do szerokości kontenera */
  height: 100%; /* Dopasowuje obraz do wysokości */
  object-fit: cover; /* Zapewnia proporcjonalne wypełnienie */
}
